body {	
	padding-top: 60px;
	padding-bottom: 40px;
}

/* remodal */
.row-va-bottom {
	text-align:center;
	letter-spacing:-0.4em;
}
.row-va-bottom > [class*='col-'] {
	display:inline-block;
	letter-spacing:0;
	vertical-align: bottom;
	float:none;
}
@media only screen and (min-width: 641px) {
  .remodal {
    max-width: 1280px;
  }
}

/* main title, modal congrants*/
.title {
	font-family: 'Oswald', sans-serif;
}
.page-header{
	margin: 0px 0px 40px;
}


/* roulette */
.roulette_wrapper {
	height: 200px;
	font-size: 200px;
	margin: 0px 0px 0px 0px;
}

div.roulette {
	margin-top: 35px;
}
/*div.roulette-inner {
	left : 33px;
}*/
div.roulette_container {
	background-color:rgb(253, 253, 253);
	width:90%;
	height:270px;
	border:1px solid rgba(253, 252, 253, 0.31);
	box-shadow:0px 0px 3px lightskyblue;
	margin:auto;
}


.btn_container {
	margin:20px;
	text-align:center;
}
.btn_container .start {
	margin-right:20px;
}
